.sidebarArea {
  flex-shrink: 0;
  width: $sidebarWidth;
  background-color: $sidebarColor;
  .sidenav-bg:hover {
    background-color: $gray-100;
    border-radius: $border-radius;
  }
  .sidenav-bg .active {
    background-color: $info;
    border-radius: $border-radius;
    color: white;
  }
}

@include media-breakpoint-down(lg) {
  .sidebarArea {
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    z-index: 1;
    margin-left: -$sidebarWidth;
    transition: 0.2s ease-in;
    &.showSidebar {
      margin-left: 0px;
    }
  }
}
a{
  color: #FFF;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
* {
  font-family:'Montserrat Alternates', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-font-sans-serif: 'Montserrat Alternates', sans-serif !important;
  --bs-body-font-family: 'Montserrat Alternates', sans-serif !important;
}
