body {
  margin: 0;
  font-family:'Montserrat Alternates', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-font-sans-serif: 'Montserrat Alternates', sans-serif !important;
  --bs-body-font-family: 'Montserrat Alternates', sans-serif !important;
}

code {
  font-family: 'Montserrat Alternates', sans-serif !important;
}
* {
  font-family:'Montserrat Alternates', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-font-sans-serif: 'Montserrat Alternates', sans-serif !important;
  --bs-body-font-family: 'Montserrat Alternates', sans-serif !important;
}
